
<%- model_class = Comment -%>

<div class="row"  >
  <div class="col-md-6 col-md-offset-3"  style="border:1px solid ">

		<h3>Add new comment</h3>
		<%= render 'new' %>

		<h3>Comments</h3>
		<hr>
		<div id='sample'>
		<%= render 'index' %>
		</div>
	</div>
</div>











